
{{#each collections as |collection|}}
  <div class="another">
    <p data-id="{{collection.id}}"> </p>
    <h3 class="text-center">
        {{#if collection.collection_name}}
          {{collection.collection_name}}
        {{else}}
          No Collection
          {{/if}}
    </h3>
    <div>
      {{#each parts as |part|}}
        <p>SKU: {{part.sku}}</p>
        <p>Name: {{part.name}}</p>
        <p>Description: {{part.description}}</p>
        <p>Quantity: {{part.quantity}}</p>
              <hr>
      {{/each}}
    </div>
  </div>
  <hr>
{{/each}}
